<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Panel de Control</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript 
    <script src="js/plugins/morris/raphael.min.js"></script>
    <script src="js/plugins/morris/morris.min.js"></script>
    <script src="js/plugins/morris/morris-data.js"></script>
    -->

    <script src="//cdnjs.cloudflare.com/ajax/libs/prettify/r298/run_prettify.min.js"></script>
    <link href="css/bootstrap.colorpickersliders.css" rel="stylesheet" type="text/css" media="all">
    <script src="//cdnjs.cloudflare.com/ajax/libs/tinycolor/0.11.1/tinycolor.min.js"></script>
    <script src="js/bootstrap.colorpickersliders.js"></script>

    <link href="css/fileinput.min.css" rel="stylesheet" type="text/css" media="all">
    <script src="js/fileinput.min.js"></script>
    <script src="js/fileinput_locale_es.js"></script>

</head>

<body>
    <div id="hover" style="display:none"></div>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Panel de Control</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Rodolfo Vargas <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Perfil</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li id="li-corpInfo" class="active">
                        <a href="javascript:corpInfo()"><i class="fa fa-fw fa-dashboard"></i> Información Corporativa</a>
                    </li>
                    <li id="li-products">
                        <a href="#" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Productos <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            {% for productLine in ProductLines %}
                            <li id="li-productLine{{loop.index}}" class="li-productLine">
                                <a href="javascript:products({{loop.index}})">{{productLine.title}}</a>
                            </li>
                            {% endfor %}
                            <li>
                                <a href="#"><i class="fa fa-fw fa-plus"></i> Nueva Línea</a>
                            </li>
                        </ul>
                    </li>
                    <li id="li-contact">
                        <a href="javascript:contact()"><i class="fa fa-fw fa-edit"></i> Información de Contacto</a>
                    </li>
                    <li id="li-design">
                        <a href="javascript:design()"><i class="fa fa-fw fa-desktop"></i> Diseño</a>
                    </li>
                    <li class="divider"></li>
                    <li id="li-design">
                        <a href="../"><i class="fa fa-fw fa-desktop"></i> Ir al sitio</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">


                <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Panel de Control <small>Información Corporativa</small>
                    </h1>
                </div>
            </div>
            <!-- /.row -->

<div class="row" id="corpInfo">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Información Corporativa</h3>
            </div>
            <div class="panel-body">
                <form role="form" id="corpInfoForm">
                    <input name="idCorpInfo" type="hidden" value="{{CorpInfo.idCorpInfo}}">
                    <input name="idShop" type="hidden" value="{{CorpInfo.shop}}">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input name="title" class="form-control" placeholder="EDIDEP Chile" value="{{Shop.title}}">
                        <p class="help-block">Nombre de la empresa.</p>
                    </div>

                    <div class="form-group">
                        <label>¿Qué Ofrecemos?</label>
                        <textarea name="description" class="form-control" rows="3">{{CorpInfo.description}}</textarea>
                        <p class="help-block">Información de lo que ofrece la empresa.</p>
                    </div>

                    <div class="form-group">
                        <label>Misión</label>
                        <textarea name="mission" class="form-control" rows="3">{{CorpInfo.mission}}</textarea>
                        <p class="help-block">Misión de la empresa.</p>
                    </div>

                    <div class="form-group">
                        <label>Visión</label>
                        <textarea name="vision" class="form-control" rows="3">{{CorpInfo.vision}}</textarea>
                        <p class="help-block">Visión de la empresa.</p>
                    </div>
                    <a href='javascript:saveCorpInfo()' class="btn btn-primary">Guardar</a>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->

{% for productLine in ProductLines %}
<div class="row productRows" id="products{{loop.index}}" style="display:none">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Productos</h3>
            </div>
            <div class="panel-body">
                <form role="form" id="productLineForm{{loop.index}}">
                    <input name="idProductLine" type="hidden" value="{{productLine.idProductLine}}">
                    <div class="form-group">
                        <label>Título</label>
                        <input name="title" class="form-control" placeholder="{{productLine.title}}" value="{{productLine.title}}">
                        <p class="help-block">Título de la línea de productos.</p>
                    </div>

                    <div class="form-group">
                        <label>Descripción</label>
                        <input name="description" class="form-control" placeholder="{{productLine.description}}" value="{{productLine.description}}">
                        <p class="help-block">Descripción de la línea de productos.</p>
                    </div>

                    <a href="javascript:saveProductLine({{loop.index}})" class="btn btn-primary">Guardar</a>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
{% endfor %}


<div class="row" id="contact" style="display:none">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Información de Contacto</h3>
            </div>
            <div class="panel-body">
                <form role="form" id="contactForm">
                    <input name="idContacts" type="hidden" value="{{Contact.idContacts}}">
                    <div class="form-group">
                        <label>Dirección</label>
                        <input name="direction" class="form-control" placeholder="{{Contact.direction}}" value="{{Contact.direction}}">
                        <p class="help-block">Dirección de la empresa.</p>
                    </div>

                    <div class="form-group">
                        <label>Teléfono</label>
                        <input name="phone" class="form-control" type="number" min="100000000" max="999999999" value="{{Contact.phone}}">
                        <p class="help-block">Número de teléfono de contacto.</p>
                    </div>

                    <a href='javascript:saveContact()' class="btn btn-primary">Guardar</a>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->


<div class="row" id="design" style="display:none">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Diseño</h3>
            </div>
            <div class="panel-body">
                <form role="form" id="designForm">
                    <input name="idHomepage" type="hidden" value="{{Homepage.idHomepage}}">
                    <div class="form-group">
                        <label>Color de Menu y Pie</label> 
                        <input name="menuColor" type="text" class="form-control" id="menuColor" data-color-format="hex" value="{{Homepage.menuColor}}">
                        <p class="help-block">menuColor </p>
                    </div>

                    <div class="form-group">
                        <label>Color de fondo Principal</label>
                        <input name="titleColor" type="text" class="form-control" id="titleColor" data-color-format="hex" value="{{Homepage.titleColor}}">
                        <p class="help-block">titleColor </p>
                    </div>

                    <div class="form-group">
                        <label>Color de fondo Secundario</label>
                        <input name="backgroundColor" type="text" class="form-control" id="backgroundColor" data-color-format="hex" value="{{Homepage.backgroundColor}}">
                        <p class="help-block">backgroundColor </p>
                    </div>

                    <div class="form-group">
                        <label>Logo</label>
                        <input name="logo" type="file" id="logoFile" accept="image/*">
                        <p class="help-block">image </p>
                    </div>

                    <div class="form-group">
                        <label>Diseño de sitio</label>
                        <select class="form-control" name="template">
                            <option value="template2.html.twig">Una página</option>
                            <option value="template1.html.twig">Varias páginas</option>
                        </select>
                        <p class="help-block">template </p>
                    </div>

                    
                    <a href="javascript:saveDesign()" class="btn btn-primary">Guardar</a>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Vista Previa</h3>
            </div>
            <div class="panel-body" id="demo-page">
                    <div id="demo-menu"><h1>Menú</h1></div>
                    <div id="demo-header"><h1>Principal</h1></div>
                    <div id="demo-content"><h1>Secundario</h1></div>
                    <div id="demo-footer"><h1>Pie</h1></div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->




 
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

<div id="popup" style="display:none">
        <div id="close">X</div>
</div>

<script>
$(document).ready(function(){
  
  //chiusura al click sulla parte scura
  $("#hover").click(function(){
        $(this).fadeOut();
    $("#popup").fadeOut();
    });
  
  //chiusura al click sul pulsante
  $("#close").click(function(){
        $("#hover").fadeOut();
    $("#popup").fadeOut();
    });
  
});


$("#logoFile").fileinput({'showUpload':false, 'previewFileType':'any', language:'es', showPreview: false, browseClass: 'btn btn-success', allowedFileTypes: ['image']});

function contact(){
    $("small").text("Información de Contacto");
    $("#corpInfo").hide(); $("#li-corpInfo").removeClass("active");
    $(".productRows").hide(); $(".li-productLine").removeClass("active");
    $("#products").hide(); $("#li-products").removeClass("active");
    $("#design").hide(); $("#li-design").removeClass("active");
    $("#contact").fadeIn(); $("#li-contact").addClass("active");
}
function corpInfo(){
    $("small").text("Información Corporativa");
    $(".productRows").hide(); $(".li-productLine").removeClass("active");
    $("#producst").hide(); $("#li-products").removeClass("active");
    $("#design").hide(); $("#li-design").removeClass("active");
    $("#contact").hide(); $("#li-contact").removeClass("active");
    $("#corpInfo").fadeIn(); $("#li-corpInfo").addClass("active");
}
function products(i){
    $("small").text("Productos");
    $("#corpInfo").hide(); $("#li-corpInfo").removeClass("active");
    $("#design").hide(); $("#li-design").removeClass("active");
    $("#contact").hide(); $("#li-contact").removeClass("active");
    $(".productRows").hide(); $(".li-productLine").removeClass("active li-productLine");
    $("#products"+i).fadeIn(); $("#li-products").addClass("active"); $("#li-productLine"+i).addClass("active li-productLine");
}
function design(){
    $("small").text("Diseño");
    $("#corpInfo").hide(); $("#li-corpInfo").removeClass("active");
    $(".productRows").hide(); $(".li-productLine").removeClass("active");
    $("#products").hide(); $("#li-products").removeClass("active");
    $("#contact").hide(); $("#li-contact").removeClass("active");
    $("#design").fadeIn(); $("#li-design").addClass("active");
}

function saveCorpInfo(){
    $.ajax({
        url: "/dashboard/saveCorpInfo",
        type: "POST",
        data: $("#corpInfoForm").serialize(),
            success: function(response){
                console.log(response);
                $(".response").remove();
                $("#popup").append("<p class='response'>"+response.result+"</p>");
                $("#hover").fadeIn().css('display', '');
                $("#popup").fadeIn().css('display', '');
            }
    });
}

function saveContact(){
    $.ajax({
        url: "/dashboard/saveContact",
        type: "POST",
        data: $("#contactForm").serialize(),
            success: function(response){
                console.log(response.result);
                $(".response").remove();
                $("#popup").append("<p class='response'>"+response.result+"</p>");
                $("#hover").fadeIn().css('display', '');
                $("#popup").fadeIn().css('display', '');
            }
    });
}

function saveProductLine(i){
    $.ajax({
        url: "/dashboard/saveProductLine",
        type: "POST",
        data: $("#productLineForm"+i).serialize(),
            success: function(response){
                console.log(response);
                $(".response").remove();
                $("#popup").append("<p class='response'>"+response.result+"</p>");
                $("#hover").fadeIn().css('display', '');
                $("#popup").fadeIn().css('display', '');
            }
    });
}

$("input#menuColor").ColorPickerSliders({
    placement: 'bottom',
    color: 'F34E36',
    swatches: ["#2C3E50","#F34E36","#B5D947","#9d6fc8","#4abcdd","#1abc9c","#C61C72","#f4a622","#2ecc71", "FFFFFF", "000000"],
    customswatches: false,
    order: {},
    onchange: function(container, color) {
                var menu = $('#demo-menu');

                menu.css("background-color", color.tiny.toRgbString());
                $('#demo-footer').css("background-color", color.tiny.toRgbString());

                /*if (color.cielch.l < 60) {
                    body.css("color", "white");
                }
                else {
                    body.css("color", "black");
                }*/
            },
    hsvpanel: true,
    title: 'Selecciona el color:'
  });

$("input#titleColor").ColorPickerSliders({
    placement: 'bottom',
    color: '18BC9C',
    swatches: ["#2C3E50","#F34E36","#B5D947","#9d6fc8","#4abcdd","#1abc9c","#C61C72","#f4a622","#2ecc71", "FFFFFF", "000000"],
    customswatches: false,
    order: {},
    onchange: function(container, color) {
                var header = $('#demo-header');

                header.css("background-color", color.tiny.toRgbString());

                /*if (color.cielch.l < 60) {
                    body.css("color", "white");
                }
                else {
                    body.css("color", "black");
                }*/
            },
    hsvpanel: true,
    title: 'Selecciona el color:'
  });

$("input#backgroundColor").ColorPickerSliders({
    placement: 'bottom',
    color: 'FFFFFF',
    swatches: ["#2C3E50","#F34E36","#B5D947","#9d6fc8","#4abcdd","#1abc9c","#C61C72","#f4a622","#2ecc71", "FFFFFF", "000000"],
    customswatches: false,
    order: {},
    onchange: function(container, color) {
                var content = $('#demo-content');

                content.css("background-color", color.tiny.toRgbString());

                /*if (color.cielch.l < 60) {
                    body.css("color", "white");
                }
                else {
                    body.css("color", "black");
                }*/
            },
    hsvpanel: true,
    title: 'Selecciona el color:'
  });

function saveDesign(){
    var form = document.getElementById("designForm");
    $.ajax({
        url: "/dashboard/saveDesign",
        data: new FormData(form),
        type:"post",
          contentType:false,
          processData:false,
          cache:false,
            success: function(response){
                console.log(response);
                $(".response").remove();
                $("#popup").append("<p class='response'>"+response.status+"</p>");
                $("#hover").fadeIn().css('display', '');
                $("#popup").fadeIn().css('display', '');
            }
    });
}
</script>



</body>

</html>

<style type="text/css">
    #demo-page {height:550px; width:100%;}
    #demo-page h1 {margin:0px; padding:10px 0px 0px 10px; font-size: 30px}
    #demo-menu {height:10%; width:100%; background-color: {{ Homepage.menuColor}}; color: #FFFFFF; border-top-left-radius: 5px; border-top-right-radius: 5px;}
    #demo-header {height:40%; width:100%; background-color: {{ Homepage.titleColor}}; color: {{ Homepage.backgroundColor}}; border-left: 1px solid grey; border-right: 1px solid grey;}
    #demo-content {height:40%; width:100%; background-color: {{ Homepage.backgroundColor}}; color: #2C3E50; border-left: 1px solid grey; border-right: 1px solid grey;}
    #demo-footer {height:10%; width:100%; background-color: {{ Homepage.menuColor}}; color: #FFFFFF; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;}


.divider {
    height: 1px;
    width: 100%;
    margin: 9px 0;
    overflow: hidden;
    background-color: #9d9d9d;
}

#close{
    position:absolute;
    background:#9DB63B;
    color:white;
    right:-15px;
    top:-15px;
    border-radius:50%;
    width:30px;
    height:30px;
    line-height:30px;
    text-align:center;
    font-size:8px;
    font-weight:bold;
    font-family:'Arial Black', Arial, sans-serif;
    cursor:pointer;
    box-shadow:0 0 10px 0 #9DB63B;
}

#popup{
    position:fixed;
    width:50%;
    height:20%;
    background:#fff;
    border-radius:5px;
    padding:60px 0;
    margin-left:25%; /* width/2 + padding-left */
    margin-right: 25%;
    top:25%;
    /*margin-top:-150px; /* height/2 + padding-top */
    text-align:center;
    box-shadow:0 0 10px 0 #9DB63B;
    z-index: 10001;
}

#hover{
    position:fixed;
    background:#000;
    width:100%;
    height:100%;
    opacity: .6;
    z-index: 10000;
    margin-left: 0px;
    margin-top: 0px;
}
</style>